.navbar{
    background-color: white; 
}

.navbar a{
    color: black;
}

.navbar-brand img{
    margin-right: 1vw;
    border:black solid 1px;
}

.text-uppercase{
    padding-top: 5vh;
}

footer{
    background-color: white;
}

.footer-logo{
    border:black solid 1px;
    margin-top:5vh;
    width:10vw;
    height:auto;
}

@font-face {
    font-family: "Inter";
    src: url("font-files/Inter-Regular.woff2?v=3.19");
}

.h1-font{
    font-size: 48px;
    font-family: "Inter";
}

.p1-font{
    font-size: 32px;
    font-family: "Inter";
}

.p2-font{
    font-size: 20px;
    font-family: "Inter";
}

.p3-font{
    font-size: 16px;
    font-family: "Inter";
}

.p4-font{
    font-size: 13px;
    font-family: "Inter";
}

#onpage{
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer{
    margin-bottom:10vh; 
}