h1{
    margin-top:10vh;
    font-size: 45pt;
    margin-bottom:10vh;
}

.row ~ .cards{
    margin-top:15vh;
}

.card{
    margin-left:3vw;
    margin-right:3vw;
}

h2{
    margin-top:10vh;
}

.abouttext{
    width:35vw; 
    height:auto; 
    margin-right:8vw;
}

.layeredimgs img{
    position:absolute;
    height:auto;
}

.mainimg{
    transform:translateY(-5vh);
    width:80%; 
}

.smallimg{
    width:30%;
    transform:translate(22vw, 20vh);
}

#timeline-line{
    border: 2px solid black;
}

.timeline-marker{
    background-color:black;
    border-radius:50%;
    width:1vw;
    height:1vw;
}

.timeline-marker:hover{
    background-color:pink;
}

.timeline-marker:hover ~ *{
    background-color:pink;
    visibility: visible;
}

.timeline{
    transform: translateX(4vw);
}

.timeline-line{
    transform:translateY(0.25vh);
    border:2px black solid;
}

.col > p{
    visibility:hidden; 
    padding-left:1vw;;
    transform:translateX(-5vw);
}